<div class="card mb-3">
  <h2 class="card-header h4">
    Message #<%= message.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Body</dt>
      <dd><%= message.body %></dd>

      <dt>Enrollment</dt>
      <dd><%= message.enrollment_id %></dd>

      <dt>Resource</dt>
      <dd><%= message.resource_id %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back message, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_message_url(message), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to message, method: :delete, data: { confirm: "Do you really want to delete this message?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(message.updated_at) %> ago
  </div>
</div>
