<% was_validated = message.errors.any? %>

<% form_html_options = { novalidate: true, class: "mb-3" } %>

<%= form_for(message, html: form_html_options) do |f| %>
  <div class="form-group">
    <% body_class = "form-control" %>
    <% body_was_invalid = message.errors.include?(:body) %>

    <% if was_validated %>
      <% if body_was_invalid %>
        <% body_class << " is-invalid" %>
      <% else %>
        <% body_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :body %>

    <%= f.text_area :body, class: body_class, placeholder: "Enter body" %>
    <% if body_was_invalid %>
      <% message.errors.full_messages_for(:body).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <% enrollment_id_class = "form-control" %>
    <% enrollment_id_was_invalid = message.errors.include?(:enrollment_id) %>

    <% if was_validated %>
      <% if enrollment_id_was_invalid %>
        <% enrollment_id_class << " is-invalid" %>
      <% else %>
        <% enrollment_id_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :enrollment_id %>

    <%= f.number_field :enrollment_id, class: enrollment_id_class, placeholder: "Enter enrollment" %>
    <% if enrollment_id_was_invalid %>
      <% message.errors.full_messages_for(:enrollment_id).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <% resource_id_class = "form-control" %>
    <% resource_id_was_invalid = message.errors.include?(:resource_id) %>

    <% if was_validated %>
      <% if resource_id_was_invalid %>
        <% resource_id_class << " is-invalid" %>
      <% else %>
        <% resource_id_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :resource_id %>

    <%= f.number_field :resource_id, class: resource_id_class, placeholder: "Enter resource" %>
    <% if resource_id_was_invalid %>
      <% message.errors.full_messages_for(:resource_id).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
