<% was_validated = enrollment.errors.any? %>

<% form_html_options = { novalidate: true, class: "mb-3" } %>

<%= form_for(enrollment, html: form_html_options) do |f| %>
  <div class="form-group">
    <% user_id_class = "form-control" %>
    <% user_id_was_invalid = enrollment.errors.include?(:user_id) %>

    <% if was_validated %>
      <% if user_id_was_invalid %>
        <% user_id_class << " is-invalid" %>
      <% else %>
        <% user_id_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_id %>

    <%= f.hidden_field :user_id, class: user_id_class, value: current_user.id %>
    <% if user_id_was_invalid %>
      <% enrollment.errors.full_messages_for(:user_id).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <% context_id_class = "form-control" %>
    <% context_id_was_invalid = enrollment.errors.include?(:context_id) %>

    <% if was_validated %>
      <% if context_id_was_invalid %>
        <% context_id_class << " is-invalid" %>
      <% else %>
        <% context_id_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :context_id %>

    <%= f.number_field :context_id, class: context_id_class, placeholder: "Enter context" %>
    <% if context_id_was_invalid %>
      <% enrollment.errors.full_messages_for(:context_id).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
