<tr>
  <td>
    <%= enrollment.user_id %>
  </td>

  <td>
    <%= enrollment.context_id %>
  </td>

  <td>
    <div class="btn-group">
      <%= link_to enrollment, class: "btn btn-sm btn-outline-secondary" do %>
        <i class="fas fa-search-plus fa-fw"></i>
      <% end %>

      <%= link_to edit_enrollment_url(enrollment), class: "btn btn-sm btn-outline-secondary" do %>
        <i class="fas fa-edit fa-fw"></i>
      <% end %>

      <%= link_to enrollment, method: :delete, data: { confirm: "Do you really want to delete this enrollment?" }, class: "btn btn-sm btn-outline-secondary" do %>
        <i class="fas fa-trash-alt fa-fw"></i>
      <% end %>
    </div>
  </td>
</tr>
