<div class="card mb-3">
  <h2 class="card-header h4">
    Context #<%= context.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Title</dt>
      <dd><%= context.title %></dd>

      <dt>Id from tc</dt>
      <dd><%= context.id_from_tc %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back context, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_context_url(context), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to context, method: :delete, data: { confirm: "Do you really want to delete this context?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(context.updated_at) %> ago
  </div>
</div>
