<div class="card mb-3">
  <h2 class="card-header h4">
    Resource #<%= resource.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Title</dt>
      <dd><%= resource.title %></dd>

      <dt>Id from tc</dt>
      <dd><%= resource.id_from_tc %></dd>

      <dt>Context</dt>
      <dd><%= resource.context_id %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back resource, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_resource_url(resource), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to resource, method: :delete, data: { confirm: "Do you really want to delete this resource?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(resource.updated_at) %> ago
  </div>
</div>
