<div class="row justify-content-center mb-3" >
  <div class="col-md-8" id="resource_messages" data-channel-subscribe="resource" data-resource-id="<%= @resource.id %>">
    <%#= render object: @resource, partial: "card", as: :resource %>
    <%= render collection: @resource.recieved_messages, partial: "message_list_item", as: :message %>
  </div>
</div>

<div class="chat" data-channel-subscribe="resource" data-resource-id="<%= @resource.id %>">

  <div class="d-none" data-role="message-template">
    <div class="chat-message-container">
      <div class="row no-gutters">
        <div class="col-auto text-center">
          <img src="" class="avatar" alt="" data-role="user-avatar">
        </div>

        <div class="col">
          <div class="message-content">
            <p class="mb-1" data-role="message-text"></p>

            <div class="text-right">
              <small data-role="message-date"></small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<hr>

<%= form_for @message, remote: true do |f| %>
  <%= f.text_field :body %>
  <%= f.hidden_field :resource_id, value: @resource.id %>
  <%= f.hidden_field :enrollment_id, value: current_user.enrollments.first.id %>
  <%= f.submit %>
<% end %>